@page
@model PublicTalkSchedule.Pages.Assignments.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- *************** code used to display success message *************** -->
@if (Model.Message != null)
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aira-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model.Message
    </div>
}


<!-- *************** code used to display error message *************** -->
@if (Model.ErrorMessage != null)
{
    <div class="alert alert alert-dismissible text-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aira-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model.ErrorMessage
    </div>
}



<!-- ******************************************************************** -->
<!-- banner and Create New Talk button  -->
@*<form method="get" asp-page="Index">*@
<form method="post">
    <!-- banner for outgoing talk schedule  -->
    <div class="row">
        <div class="col-6">
            <h3 class="text-info">Outgoing Talk Schedule</h3>
        </div>
    </div>

    <!--search by speaker.  setup search by speaker name selectlist  -->
    <div style="height:60px;" class="container border border-secondary">
        <div class="row">
            <div class="col-12">
                <div class="row" style="padding-top:10px">
                    <div class="col-4">
                    </div>
                    <div class="col-7">
                        <!-- spkname for the user who logged in -->
                        <input type="text" asp-for="UserName" style="border:none; font-weight:bold; font-size:20px; text-align:center"/>
                    </div>
                </div>
            </div>         
        </div>
    </div>


    <!-- Set background, create column labels and detail table -->
    <div>

        @if (Model.ScheduleOut.Count() == 0)
        {
            <p>
                This speaker has not been shceduled in the past six weeks or in the next 6 months...
            </p>
        }
        else
        {

            <table class="table table-striped border" height="40">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.SchedOutgoingVM.ScheduleOutObj.DOT)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.SchedOutgoingVM.ScheduleOutObj.SpkTalkNum)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.SchedOutgoingVM.CongObj.CongName)
                    </th>
                    <th>
                        @Html.LabelFor(m => m.SchedOutgoingVM, "Date / Time:")
                    </th>
                    <th>
                        @Html.LabelFor(m => m.SchedOutgoingVM, "Talk Coordinator:")
                    </th>
                    <th>
                        @Html.LabelFor(m => m.SchedOutgoingVM, "TC's Phone:")
                    </th>

                    <th></th>
                    <th></th>
                </tr>


                <!-- *************** display record detail ***************-->
                @foreach (var item in Model.ScheduleOut)
                {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.DOT)
                </td>
                <td>
                    @Html.DisplayFor(m => item.SpkTalkNum)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Congregation.CongName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Congregation.MtgDay) / @Html.DisplayFor(m => item.Congregation.MtgTime)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Congregation.tcFirstName) @Html.DisplayFor(m => item.Congregation.tcLastName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Congregation.tcMobilePhone)
                </td>

                <td></td>

                <!--display Edit and Delete buttons-->
                @*<td class="text-right">
            <a class="btn btn-primary text-white" asp-page="Edit" asp-route-transId="@item.Id" asp-route-congName="m.SchedOutgoingVM.CongObj.CongName"
               asp-route-spkId="@item.SpkNum">
                <i class="fas fa-edit"></i>
            </a>
            <a class="btn btn-success text-white" asp-page="Details" asp-route-transId="@item.Id">
                <i class="far fa-list-alt"></i>
            </a>
            <a class="btn btn-danger text-white" asp-page="Delete" asp-route-transId="@item.Id">
                <i class="fas fa-trash-alt"></i>
            </a>
        </td>*@

            </tr>
                }
            </table>
        }

    </div>

</form>

