@page
@model PublicTalkSchedule.Pages.TalksOutgoing.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<!-- *************** code used to display success message *************** -->
@if (Model.Message != null)
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aira-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model.Message
    </div>
}


<!-- *************** code used to display error message *************** -->
@if (Model.ErrorMessage != null)
{
    <div class="alert alert alert-dismissible text-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aira-label="close">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model.ErrorMessage
    </div>
}


<!-- ****************************** Edit Schedule Banner ****************************** -->
<br />
<h3 class="text-info">Edit Outgoing Talk Schedule</h3>
<br />

<!-- build form that allows editing of talks -->
<form asp-action="Index" method="post" class="form-horizonal" role="form">
    <div class="border backgroundwhite">
        <!-- hidden column that is not updated. ID column is usually included here-->
        <input type="hidden" asp-for="ScheduleOut.Id" />
        <input type="hidden" asp-for="ScheduleOut.DOT" />



        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ScheduleOut.DOT"></label>
            </div>
            <div class="col-3">
                <!-- the DOT field -->
                <!-- <input asp-for="SchedOutgoingVM.ScheduleOutObj.DOT" class="form-control" /> -->
                <input type="date" asp-for="TalkDate" />
            </div>
        </div>

        <!-- ******** Speaker ********** -->
        <div class="form-group row">
            <!-- Speaker name fields -->
            <div class="col-2">
                <label asp-for="ScheduleOut.SpkNum"></label>
            </div>
            <div class="col-5">
                <select asp-for="ScheduleOut.SpkNum" class="form-control"
                        asp-items=ViewBag.SpkID>
                    <option value="">Select Speaker</option>
                </select>
            </div>

            <div class="col-1"></div>
            <div class="col-4 text-sm-left">
                <p>
                    <input type="submit" value="Filter - Speaker" asp-page-handler="GetSpkNum" class="btn-primary text-sm-center" style="width:160px"
                           asp-route-id="@Model.ScheduleOut.Id"
                           asp-route-spkId="@Model.ScheduleOut.SpkNum" asp-route-talkDate="@Model.ScheduleOut.DOT">
                </p>
            </div>

        </div>

        <!-- ********** Talk ********** -->
        <div class="form-group row">
            <!-- Talk name fields -->
            <div class="col-2">
                <label asp-for="ScheduleOut.SpkTalkNum"></label>
            </div>
            <div class="col-5">
                <select asp-for="ScheduleOut.SpkTalkNum" class="form-control" style="width:375px; font-size:small"
                        asp-items=ViewBag.TalkId>
                    <option value="">Select Talk #</option>
                </select>
            </div>
        </div>


        <!-- ********** Congregation ********** -->
        <div class="form-group row">
            <!-- Spk Congregation and CongNum (aka CongId) fields -->
            <div class="col-2">
                <label asp-for="ScheduleOut.hostCongNum"></label>
            </div>
            <div class="col-5">
                <select asp-for="ScheduleOut.hostCongNum" class="form-control"
                        asp-items=ViewBag.CongId>
                    <option value="">Select Congregation</option>
                </select>
            </div>


        </div>


        <!-- add buttons -->
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_EditAndBackToListButton" />
            </div>
        </div>

    </div>
</form>